Disallow localhost / rfc1918 / etc.

_reported by Kelby Ludwig_

redbot will access resources on localhost, etc. If those sites rely upon IP addresses for access control (etc.), sensitive information can leak (provided that redbot is accessible to the attacker).

This is a *fairly* low-risk issue, since a firewall would have to be opened up explicitly to allow access to redbot. The exception is public instances of redbot that have some sort of special access (e.g., something else running on the same host).

A partial mitigation would be to disallow testing of URLs in:

* private address space (RFC1918)
* loopback space (RFC1112)
* link-local space (RFC4291)

This probably needs to be the default, for safe deployment as public services. Since redbot is also used as a local testing tool (and its own tests use localhost), this needs to be configurable.

This risk needs to be documented, since it's only a partial mitigation (e.g., private networks with public IP space, IPv6).