Recommendation on Vary header incorrect

If a server includes a response header like:

Vary: Accept-Encoding,User-Agent

RED says:

"Sending Vary: User-Agent requires caches to store a separate copy of the response for every User-Agent request header they see.

Since there are so many different User-Agents, this can "bloat" caches with many copies of the same thing, or cause them to give up on storing these responses at all."

Section 13.6 of RFC 2616 says:

"A server SHOULD use the Vary header field to inform a cache of what request-header fields were used to select among multiple representations of a cacheable response subject to server-driven negotiation."

http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec13.6

Following the standard, the Apache docs (for example) say:

"The mod_deflate module sends a Vary: Accept-Encoding HTTP response header to alert proxies that a cached response should be sent only to clients that send the appropriate Accept-Encoding request header. This prevents compressed content from being sent to a client that will not understand it.

If you use some special exclusions dependent on, for example, the User-Agent header, you must manually configure an addition to the Vary header to alert proxies of the additional restrictions."

http://httpd.apache.org/docs/2.2/mod/mod_deflate.html#proxies

While I understand the nature of RED's recommendation, it would lead to User Agents that can't deal with cached content getting cached content (and vice-versa, depending on which kind of response made it into a given proxy cache first).
